<a href="https://colab.research.google.com/github/apenon/colab/blob/master/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install yfinance

In [5]:
import yfinance as yf
tickers = ("BNTX", "GOOGL") 

start = "2019-01-01"
end = '2022-01-13'

fin_data = yf.download(tickers, start, end) #download yahoo finance data for specific dates

fin_data.to_csv('fin_data.csv')

[*********************100%***********************]  2 of 2 completed

In [7]:
#check the dimensions of the data
fin_data.shape

(765, 12)

In [8]:
#view the first 5 rows of the data
fin_data.head()

           Adj Close              Close  ...         Open Volume
                BNTX        GOOGL  BNTX  ...        GOOGL   BNTX    GOOGL
Date                                     ...
2019-01-02       NaN  1054.680054   NaN  ...  1027.199951    NaN  1593400
2019-01-03       NaN  1025.469971   NaN  ...  1050.670044    NaN  2098000
2019-01-04       NaN  1078.069946   NaN  ...  1042.560059    NaN  2301100
2019-01-07       NaN  1075.920044   NaN  ...  1080.969971    NaN  2372300
2019-01-08       NaN  1085.369995   NaN  ...  1086.000000    NaN  1770700

[5 rows x 12 columns]

In [9]:
#view the last 5 values of the data
fin_data.tail()

             Adj Close               ...     Volume
                  BNTX        GOOGL  ...       BNTX    GOOGL
Date                                 ...
2022-01-06  214.740005  2754.949951  ...  2753800.0  1867400
2022-01-07  211.839996  2740.340088  ...  1200600.0  1487700
2022-01-10  230.000000  2773.389893  ...  3737700.0  2220400
2022-01-11  215.800003  2794.719971  ...  2614100.0  1436500
2022-01-12  220.869995  2828.610107  ...  1806600.0  1305400

[5 rows x 12 columns]